{% extends './base.html.twig' %}

{% block title %}{{ page_title }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/calculation.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/calculation-equipment.css') }}">
{% endblock %}
{% block body %}
<div {{ vue_component('ConcretePillarCalc', { calculationId }) }}></div>
{% endblock %}

